  html{
    margin:20px 20px ;
    box-shadow: 1px 1px 15px white;
  }
  body{
    background: black;
    color: white;
    margin: 0;
  }
   
  /*Logo */
  header {
    border-style: dotted white;
    background: white;
    background:transparent;
    padding: 40px;
    margin-left: 30px;
  }
  header img{
    width: 70px;
    height: 70px;
  }

  /*Search Bar*/
  .Search{
    float:right;
    text-align: center;
    background:grey;
    padding-right:1%;
    margin-top: 30px;
  }
  button{
    float: right;
    background: #ddd;
    font-size: 18px;
    border: none;
    padding: 11px 14px;
  }
  .search-txt{
    background: grey;
    float: right;
    color: white;
    margin-top: 30px;
    border: none;
    outline: none;
    padding: 13.5px;
  }

  /* Navigation Bar CSS*/
  .navbar {
    overflow: hidden;
    background-color: whitesmoke;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar .icon {
    display: none;
  }
  .navbar .engine{
    display: none;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    right: 0;
    margin:48px 20px 0px 0px;
    box-shadow: 0px 8px 16px 0px rgba(252, 252, 252, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .active{
    background: rgb(61, 192, 159);
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
@media screen and (max-width: 670px) {
  .Search, .search-txt{
    visibility: hidden;
    display: none;
  }
  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
  .engine{
    float: left;
    background-color: #555;
  }
  .engine input{
    border: none;
    width: 60%;
    outline: none;
    padding:12px;
  }
  .engine button{
    width: auto;
    font-size: 15px;
    background-color: rgb(61, 192, 159);
  }
}
  
 @media screen and (max-width: 670px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .navbar.responsive .dropdown {float: none;}
    .navbar.responsive .dropdown-content {position: relative;}
    .navbar.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
}
  
  
@media screen and (max-width: 450px){
  html{
    margin:15px 15px;
    box-shadow: 1px 1px 15px #888888; 
  }
  body{
    background:black;
    color: white;
    font-size: 15px;
  }
  header {
    border-style: dotted white;
    background: white;
    background:transparent;
    padding: 20px;
    margin-left: 15%;
  }
  header a{
    font-size: 10px;
  }
  header img{
    width:35px;
    height:35px;
  }

}

  #footer{
    text-align: center;
    background-color:white;
    height: 20px;
    border-style: blue dotted dashed;
    border-radius: 10px; 
}