#Text{
 color: white;
 text-align: center;
 
}

.container{
  margin: 10px 10px;
  font-size: 20px;
}

.ck-editor_main{
  width: 20%;
  height: 30%;
}

#id_title{
    width: 30%;
    margin: 20px;
    outline: none;
    border:0;
    border-bottom: 1px solid white;
    color: aliceblue;
    background: transparent;
    font-size: 15px;
}  

.ck-content{
  font-size: 15px;
  height: 290px;
}

.container input{
  width: 10%;
  height: 35px;
  border-radius: 4px;
  border: none;
  background-color: rgb(61, 192, 159);
}
