{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog4Star</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href= "{% static "base.css" %}" >
    
    {% block extrahead %}{% endblock %}


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
</head>
<body>
    <header>
        <!-- < Image Logo> -->
        <a href="/">
            <img id="logo" src={% static "logo.png" %} alt="Blog4Star">
            <h1 style="float:left; color:aquamarine;"><u>BLOG4Star</u></h1>
        </a>
        <div class="SEARCH"> 
            <input class="search-txt"type="text" name="" placeholder="Search">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div> 
    </header>

    <!-- Navigation Bar -->
    <section style="margin-bottom:20px;" id ="Navigation Bar" >
        <div id="BUTTON">
        <ul>
            <li><a href="/" id="home" style="position:relative;"><i class="fas fa-home">  HOME</i></a></li>
            <li><a href="/about" id="about" style="position:relative;"><i class="fas fa-info"> About</i></a></li>    
            <li class="login"><a href="/login" style="position:relative;"><i class="fas fa-sign-in-alt">  Login</i></a></li>   
            <li class="dropbtn" style="float: right; margin-right:10px;"><a href="#"><i class="fas fa-hands-helping">  Help</i></a>
                <br>
                <ul class="drop-content">
                    <li><a href="/faq"><i class="far fa-question-circle"> FAQ</i></a></li>
                    <hr>
                    <li><a href="/contact"><i class="fas fa-phone">  Contact</i></a></li>
                </ul>   
            </li>  
        </ul>    
        </div>
    </section>
    <!-- INDEX -->
    <div id="left-content">
        <h2>Index</h2>
        <ol>
            <li>something
                <ul>
                    <li>1 something</li>
                    <li>2 something</li>
                    <li>3 something</li>
                    <li>4 something</li>
                </ul>
            </li>
            <li>something</li>
            <li>something</li>
            <li>something</li>
            <li>something</li>
        </ol>
    </div>  
    <section id="ads">
        <h1>flana damkana</h1>
    </section>
      
    {% block content %}
<!-- The messege that is displayed after login or posting an article -->
    {% if messages %}
        {% for message in messages %}
             <div>
                 {{ message }}
             </div>
        {% endfor %}
    {% endif %}

    {% endblock content %}  
  
</body>
</html>
