{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Blog4Star</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href= "{% static "base.css" %}" >
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    {% block extrahead %}{% endblock %}


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
</head>
<body >
    <header>
        <!-- Image Logo -->
        <a href="/">
            <img id="logo" src={% static "logo.png" %} alt="Blog4Star">
            <h1 style="float:left; color:aquamarine;"><u>BLOG4Star</u></h1>
        </a>
        <!--Search bar-->
            <div class="Search">   
            <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <input class="search-txt"type="text" name="" placeholder="Search">  
    </header>

    <!-- Navigation Bar -->
    <div class="navbar" id="mynavbar">
            <a href="/" class="active"><i class="fas fa-home"> Home</i></a>
            <a href="/about"><i class="fas fa-info"> About</i></a>
        
            {% if user.is_authenticated %}
            <a href="/logout"><i class="fas fa-sign-out-alt">  Logout</i></a>
            <!-- New Post button -->
            <a href="/new"><i class="fas fa-file">  New Post</i></a>
            {% else %}
            <a href="/login"><i class="fas fa-sign-out-alt"> Login</i></a>
            {% endif %}
        
            <div class="dropdown">
              <button class="dropbtn"><i class="fas fa-hands-helping">Help</i> 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="/FAQ"><i class="fas fa-question-circle"> FAQ</i></a>
                <a href="/contact"><i class="fas fa-phone"> Contact</i></a>
              </div>
            </div> 
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
<!-- The messege that is displayed after login or posting an article -->
    {% if messages %}
        {% for message in messages %}
             <div>
                 {{ message }}
             </div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock content %}
</body>
<script>
        function myFunction() {
          var x = document.getElementById("mynavbar");
          if (x.className === "navbar") {
            x.className += " responsive";
          } else {
            x.className = "navbar";
          }
        }
        </script>
</html>
