#Page{
	margin:0;
    padding:0;
    font-family:tahoma;
}

h1{
	color:black;
	font-weight: bold;
	letter-spacing: 0.1em; 
	text-shadow: 3px 3px 5px white;
}
 
#Page{
	width: 200px;
	padding: 30px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	border-style: groove;
    background: linear-gradient(to bottom left, #000066 34%, #0066cc 100%);
	text-align: center; 
}


#Page.Btn, a button{
	width: 10px;
	border:none;
	display: block;
	border-radius: 20px;
	background:black;
}
#Page input, a button{
	border:0;
	display: block;
	background:none;
	margin:20px auto;
	text-align: center;
	line-height: 20px;
}

#Page p{ 
  width: 20%;
}

#Page input, a button{
	width: 100%;
	background:white;
	height: 30px;
    border-radius: 40px;
}

.Btn:hover{
	background:red;
}