{% extends "base.html" %}
{% load static %}
{% block extrahead %}

{% endblock %}

{% block content %}

{% if articles %}
    {% for article in articles %}
      <div id="data" style=" margin: 2%; " >
        <h1 style="text-align: center; margin-top: 5%; margin-bottom: 5%;">{{article.title}}</h1>
        <div class="fr-view" style="">{{article.content | safe}}</div><div style="float: right;"><span>: by {{article.author}}</span> <span>{{article.date}}</span></div><br><hr>
      </div>
    {% endfor %}
{% endif %}

{% endblock %}