{% extends 'base.html' %}
    {% load static %}
    {% block extrahead %}   
    <link rel="stylesheet" type="text/css" href="{% static "error.css" %}">
{% endblock %}

{% block content %}
<form id="Page" method="POST"> {% csrf_token %}
        <h1>LOGIN</h1>
    <!-- email_attrs = {"placeholder":"abc@example.com","type":"text"} -->
    <!-- pass_attrs  = {"placeholder":"********","type":"password"} -->
        {{ form }}
     <input class="Btn" type="Submit" name="" value="Login">
        
    </form>
{% endblock content %}