#Page{
	margin-left:35%;
    margin-right:25%;
	margin-top: 5%;
	margin-bottom: 5%;
	height: 480px;
	width: 300px;
	padding: 80px 40px;
	box-shadow: 1px 1px 15px white; 
}

#Page img{
	margin-left:34%;
	width:100px;
	height:100px;
	border-radius: 50%;
	overflow: hidden;
	
}

.errorlist nonfield{
	font-size:10px;
	list-style-type:none;
}

#id_username , #id_password{
  width:100%;
  margin-bottom: 15px;
  color: wheat;
}

#Page input[type=text],
#Page input[type=password]{
  outline: none;
  border:0;
  border-bottom: 1px solid white;
  background: transparent;
  font-size: 15px;
}

.Btn{
	margin-top: 10%;
	color:wheat;
	height: 40px;
	border: none;
	width:100%;
	background: transparent;
	border-style:groove;
	outline: none;
	border-radius: 20px;
}

#Page p{
  text-align: center;
  margin-bottom: -2px;
}

.Btn1{
  color:wheat;
  height: 40px;
  border: none;
  width:100%;
  background: transparent;
  border-style:groove;
  outline: none;
  border-radius: 20px;
}

.btn input:hover{
	transition: 1.0s;
	background:wheat;
	color:black;
}
 


