{% extends 'base.html' %}
    {% load static %}
    {% block extrahead %}   
        <!-- <link rel="stylesheet" type="text/css" href="{% static "login.css" %}"> -->
    {% endblock %}

{% block content %}
    <form method="POST">
    <fieldset>    
        <legend>LOGIN</legend>
        {% csrf_token %}
        <div>
            {{form.username.label_tag}}
            {{form.username}}
        </div>
        <div>
            {{form.password.label_tag}}
            {{form.password}}
        </div>
        {% if form.errors %}
        <div>
            <ul><li>Please enter a correct username and password. Note that both fields may be case-sensitive.</li></ul>
        </div>
        {% endif %}
        <div>
            <input type="Submit" value="Login">
        </div>
    </fieldset>
    </form>
    <span>Not a member?</span>
    <a href="/signup/"><small>Sign Up</small></a>

{% endblock content %}