{% extends "home.html" %}

    {% load static %}
    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static "error.css" %}">
    {% endblock %}

{% block content %}
    <form id="Page" method="POST"> {% csrf_token %}
        <h1>SIGNUP</h1>

        <!-- email_attrs = {"placeholder":"abc@example.com","type":"text","id":"id_email"} -->
        <!-- name_attrs  = {"placeholder":"Full Name","type":"text","id":"id_name"} -->
        <!-- pass_attrs  = {"placeholder":"********","type":"password","id":"id_password"} -->
        {{form}}
        <input class="Btn" type="submit" value="Sign Up">
    </form>
    <span>Already a member?</span>
    <a href="/login"><button type="button" class="Btn">Sign In</button></a>

{% endblock %}