{% extends "home.html" %}

    {% load static %}
    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static "signup.css" %}">
    {% endblock %}

{% block content %}
    <form id="Page" method="POST"> {% csrf_token %}
        <img src={% static "login.png" %} alt="login image" class="avatar">
        <h1>SIGNUP</h1>

        <!-- user_attrs  = {"placeholder":"username",'autofocus':'','class':'left'}
            first_name = {'placeholder':'First Name','autofocus':'autofocus', 'class':'left'}
            email_attrs = {"placeholder":"abc@example.com",'class':'left'}
            pass_attrs  = {"placeholder":"********",'class':'right'}
            last_name = {'placeholder':'Last Name', 'class':'right'} -->
        {{form}}
        <div class="btn">
            {{profile}}
            <label for="id_contrib">Do you want to become a contributer?(Optional)</label>
            <input class="Btn" type="submit" value="Sign Up">
            <p>Already a member?</p>
            <a href="/login"><input type="button" class="Btn" value="Sign In"></input></a>
        </div> 
    </form><br>
{% endblock %}
{% block exclude %}{% endblock %}