{% extends "base.html" %}

    {% load static %}
    {% block extrahead %}
        <!-- <link rel="stylesheet" type="text/css" href="{% static "signup.css" %}"> -->
    {% endblock %}

{% block content %}
<h1>SIGNUP</h1>
    <form method="POST"> {% csrf_token %}

        <div>
            {{form.username.label_tag}}
            {{form.username.errors}}
            {{form.username}}
        </div>
        <div>
            {{form.first_name.label_tag}}
            {{form.first_name.errors}}
            {{form.first_name}}
        </div>
        <div>
            {{form.password1.label_tag}}
            {{form.password1.errors}}
            {{form.password1}}
        </div>
        <div>
            {{form.email.label_tag}}
            {{form.email.errors}}
            {{form.email}}
        </div>
        <div>
            {{form.last_name.label_tag}}
            {{form.last_name.errors}}
            {{form.last_name}}
        </div>
        <div>
            {{form.password2.label_tag}}
            {{form.password2.errors}}
            {{form.password2}}
        </div>
        <div>
            {{profile.contrib.label_tag}}
            {{profile.contrib.errors}}
            {{profile.contrib}}
        </div>
        <div>
            <input class="Btn" type="submit" value="Sign Up">
        </div>
    </form>
    <span>Already a member?</span>
    <a href="/login/"><small>Sign In</small></a>

{% endblock %}